---
// Assets
import { Image } from "astro:assets";
// Foundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/foundations/elements/Text.astro";
import Button from "@/components/foundations/elements/Button.astro";
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
// Content
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section>
    <Wrapper class="pb-12">
      <div class="grid lg:grid-cols-3 gap-8">
        <div>
          <Text
            tag="h1"
            variant="displaySM"
            data-aos="fade-up"
            data-aos-duration="1500"
            class="text-balance font-medium tracking-tighter text-base-900"
          >
            {frontmatter.name}
          </Text>
          <Text
            tag="p"
            variant="textBase"
            data-aos="fade-up"
            data-aos-duration="2000"
            class="mt-4 text-base-500"
          >
            {frontmatter.role}
          </Text>
          <div class="mt-8 pt-8 border-t border-base-200 text-xs 2xl:text-sm">
            <Text
              tag="h3"
              variant="textBase"
              data-aos="fade-up"
              data-aos-duration="1500"
              class="text-base-900"
            >
              Intro
            </Text>
            <Text
              tag="p"
              variant="textBase"
              data-aos="fade-up"
              data-aos-duration="2500"
              class="mt-4 text-base-500 text-pretty"
            >
              {frontmatter.intro}
            </Text>
          </div>
          <div class="mt-8 pt-8 border-t border-base-200 text-xs 2xl:text-sm">
            <Text
              tag="h3"
              variant="textBase"
              data-aos="fade-up"
              data-aos-duration="1500"
              class="text-base-900"
            >
              Contact
            </Text>
            <ul
              data-aos="fade-up"
              data-aos-duration="2000"
              class="list-none mt-4 text-base-500 space-y-1"
            >
              {
                frontmatter.contact.map((contact) => (
                  <>
                    <li>
                      <a class="hover:text-base-900  " href={contact.item}>
                        {contact.item}
                      </a>
                    </li>
                  </>
                ))
              }
            </ul>
          </div>
          <div class="mt-8 pt-8 border-t border-base-200 text-xs 2xl:text-sm">
            <Text
              tag="h3"
              variant="textBase"
              data-aos="fade-up"
              data-aos-duration="1500"
              class="text-base-900"
            >
              Address
            </Text>
            <address>
              <ul
                data-aos="fade-up"
                data-aos-duration="2000"
                class="list-none mt-4 text-base-500 space-y-1"
              >
                <li>
                  <Text tag="p" variant="textBase">{frontmatter.office}</Text>
                </li>
                <li>
                  <Text tag="p" variant="textBase"
                    >{frontmatter.officeAddress}</Text
                  >
                </li>
              </ul>
            </address>
          </div>
          <div class="mt-8 pt-8 border-t border-base-200 text-xs 2xl:text-sm">
            <Text
              tag="h3"
              variant="textBase"
              data-aos="fade-up"
              data-aos-duration="1500"
              class="text-base-900"
            >
              Languages
            </Text>
            <ul
              data-aos="fade-up"
              data-aos-duration="2000"
              class="list-none mt-4 text-base-500 space-y-1 flex gap-2 flex-wrap"
            >
              {
                frontmatter.languages.map((languages) => (
                  <>
                    <li>
                      <Text tag="h3" variant="textBase">
                        {languages.item}
                      </Text>
                    </li>
                  </>
                ))
              }
            </ul>
          </div>
        </div>
        <div class="lg:col-span-2 order-first">
          <Image
            width={800}
            height={1000}
            class="w-full aspect-square h-full object-cover object-top"
            src={frontmatter.avatar.url}
            alt={frontmatter.avatar.alt}
          />
        </div>
      </div>
      <div class="grid lg:grid-cols-3 pt-8 mt-40 border-t border-base-200">
        <dl class="flex flex-col gap-y-8">
          {
            frontmatter.stats.map((stats) => (
              <>
                <div class="flex flex-col-reverse gap-y-3 ">
                  <dt
                    data-aos="fade-up"
                    data-aos-duration="2000"
                    class="text-base-500"
                  >
                    <Text tag="h3" variant="textBase">
                      {stats.value}
                    </Text>
                  </dt>
                  <dd
                    data-aos="fade-up"
                    data-aos-duration="1500"
                    class=" text-base-900 "
                  >
                    <Text tag="h3" variant="displayXL">
                      {stats.key}
                    </Text>
                  </dd>
                </div>
              </>
            ))
          }
        </dl>
        <div
          class="lg:col-span-2 2xl:col-start-2"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          <Text tag="h3" variant="displaySM" class="text-base-900">
            Who is {frontmatter.name}
          </Text>
          <Wrapper variant="prose" class="mt-6">
            <slot />
          </Wrapper>
        </div>
      </div>
      <div class="grid lg:grid-cols-3 pt-8 mt-40 border-t border-base-200">
        <dl
          class="lg:col-span-2 lg:col-start-2"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          <dd class="text-base-900 lg:text-pretty">
            <Text tag="h3" variant="textXL">Exclusive Properties</Text>
          </dd>
          <dd class="mt-6 t text-base-500">
            <Text tag="h3" variant="textBase">
              {frontmatter.name} has been the main realtor for many of our clients.
              This are the properties that she has sold.
            </Text>
          </dd>
        </dl>
        <div
          data-aos="fade-up"
          data-aos-duration="2500"
          class="col-span-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8"
        >
          {
            frontmatter.images.map((image) => (
              <Image
                width={400}
                height={400}
                class="aspect-[4/3] group-hover:scale-110 transition-transform object-cover object-center duration-500"
                src={image.url}
                alt={image.alt}
              />
            ))
          }
        </div>
      </div>
    </Wrapper>
  </section>
  <section>
    <div class="px-8 pb-12">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-24 2xl:gap-8 pt-8 mt-40">
        <div class="bg-base-50 2xl:p-20 p-8">
          <Image
            class="aspect-square object-cover object-top"
            src={frontmatter.avatar.url}
            alt={frontmatter.avatar.alt}
          />
          <div>
            <Text
              tag="h3"
              variant="textXL"
              data-aos="fade-up"
              data-aos-duration="1500"
              class="mt-8 text-base-900"
            >
              {frontmatter.name}
            </Text>
            <Text
              tag="p"
              variant="textBase"
              data-aos="fade-up"
              data-aos-duration="2000"
              class="mt-2 text-base-600"
            >
              {frontmatter.role}
            </Text>
          </div>
        </div>
        <div class="lg:col-span-2 flex flex-col h-full justify-between">
          <form>
            <div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
              <div>
                <label
                  for="first-name"
                  class="block text-xl font-medium text-base-900"
                  >First name</label
                >
                <div>
                  <input
                    type="text"
                    name="first-name"
                    id="first-name"
                    autocomplete="given-name"
                    class="block w-full h-12 border-0 py-1.5 border-b border-base-200 text-base-900 ring-transparent focus:ring-black placeholder:text-base-400 focus:ring-2 focus:ring-inset sm:text-sm"
                  />
                </div>
              </div>
              <div>
                <label
                  for="last-name"
                  class="block text-xl font-medium text-base-900"
                  >Last name</label
                >
                <div>
                  <input
                    type="text"
                    name="last-name"
                    id="last-name"
                    autocomplete="family-name"
                    class="block w-full h-12 border-0 py-1.5 border-b border-base-200 text-base-900 ring-transparent focus:ring-black placeholder:text-base-400 focus:ring-2 focus:ring-inset sm:text-sm"
                  />
                </div>
              </div>
              <div>
                <label
                  for="phone"
                  class="block text-xl font-medium text-base-900"
                  >Phone Number</label
                >
                <div>
                  <input
                    type="tel"
                    name="phone"
                    id="phone"
                    autocomplete="tel"
                    class="block w-full h-12 border-0 py-1.5 border-b border-base-200 text-base-900 ring-transparent focus:ring-black placeholder:text-base-400 focus:ring-2 focus:ring-inset sm:text-sm"
                  />
                </div>
              </div>
              <div>
                <label
                  for="email"
                  class="block text-xl font-medium text-base-900"
                  >Email address</label
                >
                <div>
                  <input
                    id="email"
                    name="email"
                    type="email"
                    autocomplete="email"
                    class="block w-full h-12 border-0 py-1.5 border-b border-base-200 text-base-900 ring-transparent focus:ring-black placeholder:text-base-400 focus:ring-2 focus:ring-inset sm:text-sm"
                  />
                </div>
              </div>
              <div class="col-span-full">
                <label
                  for="message"
                  class="block text-xl font-medium text-base-900">Message</label
                >
                <div>
                  <textarea
                    id="message"
                    name="message"
                    rows="6"
                    class="block w-full border-0 py-1.5 border-b border-base-200 text-base-900 ring-transparent focus:ring-black placeholder:text-base-400 focus:ring-2 focus:ring-inset sm:text-sm"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="flex w-full mt-8">
              <Button type="submit" size="xl" variant="default" class="ml-auto">
                Submit
              </Button>
            </div>
          </form>
          <div
            class="mt-40 pt-8 border-t border-base-200 text-base-500 space-y-4"
          >
            <Text tag="p" variant="textXS">
              Yes, I would like more information from Habitat Realty. Please use and/or share my information with a Habitat Realty's
              agent to contact me about my real estate
              needs.
              <br />
              <br />
              By clicking SEND MESSAGE, I agree a Habitat Realty's 
              Agent may contact me by phone or text message including by automated
              means about real estate services, and that I can access real estate
              services without providing my phone number. I acknowledge that I have
              read and agree to the
              <a
                class="text-base-900 hover:text-base-500 underline"
                href="/infopages/terms">Terms</a
              > of Use and <a
                class="text-base-900 hover:text-base-500 underline"
                href="/infopages/privacy">Privacy Policy</a
              >.
            </Text>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
